<template name="register">
	<div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo" style=" margin-left: -1.4em">FarmInsights</h1>
            </div>
            <h3>Welcome to FarmInsights!</h3>
            <p>We provide farmers with insights about their farm. Try us, it's free! <i>(no email is required)</i></p>
            <div class="loginForm">
                {{> atForm state='signUp'}}
            </div>
            <p class="m-t"> <small>&copy; 2015 FarmInsights | Created by <a href="https://twitter.com/_aaronkow" target="_blank">@_aaronkow</a></small> </p>
        </div>
    </div>
</template>